.footer {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(25px);
  .wrapper {
    margin-top: 25px;
    width: 100%;
    height: 100%;

    .copyright {
      align-self: flex-start;
      margin-top: 50px;
    }


  }

  .logo {
    perspective: 200px;
    position: relative;

    img {
      transition: transform linear 250ms;
      transform-style: preserve-3d;
      height: 100px;
      width: 100px;
      padding: 20px;
      filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.6));
    }
  }

  .links {
    column-gap: 40px;
  }

  .link {
    transition: transform linear 250ms;

    &:hover {
      transition: transform linear 250ms;
      transform: scale(1.5);
    }

  }

  .opensea {
    margin-top: 20px;
  }
}

.ig, .os, .ds, .ne {
  transition: transform linear 250ms;
}

.instagram {
  color: #fd5;
}

.opensea {
  color: #2081E2;
}

.discord {
  color: #5865F2;
}

.ig {
  color: #fd5;
  transform: scale(1.3) rotateY(-45deg) !important;
}

.os {
  color: #2081E2;
  transform: scale(1.3) rotateX(-45deg) !important;
}

.ds {
  color: #5865F2;
  transform: scale(1.3) rotateY(45deg) !important;
}

.ne {
  transform: scale(1.3) rotate(0) !important;
}
