<div class="wrapper flex-column">
  <section class="about flex-column flex-ai-center">
    <h1 class="title">About</h1>
    <p class="text">
      Divocakos is a lifestyle in Slovakia, it has a very strong community, more
      and more people, such as celebrities and also politicians, are gradually
      admitting to it. The founder is the well-known streamer resttpowered. This
      collection shows the values of this community.
    </p>
  </section>
  <app-slideshow-animation class="slideshow-animation"></app-slideshow-animation>
  <section class="roadmap flex-column flex-ai-center flex-jc-center">
    <div class="blur-wrapper full-dimension flex-column flex-ai-center ">
    </div>
      <h1 class="title">Roadmap</h1>
    <div class="map">
      <div class="target">Custom NFT generator</div>
      <div class="target">E-Shop</div>
      <div class="target">Social media</div>
      <div class="target">Website</div>
    </div>
  </section>
  <section class="team flex-column flex-ai-center">
    <h1 class="title">Team</h1>
    <div class="teammates flex-row">
      <div class="team-card flex-column flex-ai-center flex-jc-center">
        <img class="avatar" loading="eager" alt="" src="assets/images/divocakos/divocakos-head.png">
        <span class="name">Jonas</span>
        <span class="role">Web developer</span>
      </div>
      <div class="team-card flex-column flex-ai-center flex-jc-center">
        <img class="avatar" loading="eager" alt="" src="assets/images/divocakos/divocakos-head.png">
        <span class="name">Mariko</span>
        <span class="role">Designer</span>
      </div>
    </div>
  </section>
</div>

