html,
body {
  height: auto;
  margin: 0;
}

body {
  margin: 0;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: "Oswald", sans-serif;
}

h1 {
  font-family: "Russo One", sans-serif;
  letter-spacing: 0.05em;
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 800;
}

h2 {
  font-size: 24px;
  letter-spacing: 0.025em;
  font-weight: 600;
}

p {
  font-weight: 600;
  letter-spacing: 0.04em;
  font-size: 25px;
}

img {
  user-select: none;
  pointer-events: none;
}

:root {
  --primary-color: #000000;
  --secondary-color: #21140c;
  --secondary--transparent-color: rgba(33, 20, 12, 0.5);
  --primary-transparent-color: rgba(0, 0, 0, 0.5);
  --text-color: #ffffff;
}
